* {
	margin: 0;
	padding: 0;
	border: 0;
}


/* The side navigation menu */
.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}

/* Sidebar links */
.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}

/* Active/current link */
/* .sidebar a.active {
  background-color: #04a7aa;
  color: white;
} */

/* Links on mouse-over */
/* .sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
} */

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}









.navv{
	text-align:Right;
	padding: 10px;
}

.btnn {
	border:1px solid black;
	border-radius:5%;
	margin-right:5px;
	padding:5px;
}

.heading {
	text-align:center;
	border: 2px solid black;
	padding: 10px;
	
}

.headbtn{
	border:2px solid black;
}

.adbtn{
	text-align:Right;
}

.main{
	text-align:center
}

.img1{
	width:100%;
	height:Auto;
}

.main2{
	text-align:Center;
	margin:2%;
	padding 5%;
	display:flex;
	justify-content:center;
	
}

.card{
	margin:1%;
}

img{
	width:100%;
	height:200px;
}

.course{
	text-align:center;
	margin:15px
}

.btn:hover{
	background-color:White;
	color:black;
}






footer {
  

  bottom: 0;

  left: 0;

  right: 0;

  background: #111;

  height: auto;

  width: 100vw;

  padding-top: 40px;

  color: #fff;
}

.footimg{
	width:100px;
	height:100px;
}

.footer-content {
  display: flex;

  align-items: center;

  justify-content: center;

  flex-direction: column;

  text-align: center;
}


.footer-content p {
  max-width: 500px;

  margin: 10px auto;

  line-height: 28px;

  font-size: 14px;

  color: #cacdd2;
}


.footer-bottom {
  background: #000;

  width: 100vw;

  padding: 20px;

  padding-bottom: 40px;

  text-align: center;
}

.footer-bottom p {
  float: left;

  font-size: 14px;

  word-spacing: 2px;
}

.footer-bottom p a {
  color: #ccc;

  font-size: 16px;

  text-decoration: none;
}

.footer-bottom span {
  text-transform: uppercase;
}

.footer-menu {
  float: right;
}

.footer-menu ul {
  display: flex;
}

.footer-menu ul li {
  padding-right: 10px;

  display: block;
}

.footer-menu ul li a {
  color: #cfd2d6;

  text-decoration: none;
}

.footer-menu ul li a:hover {
  color: #27bcda;
}


