* {
	margin: 0;
	padding: 0;
	border: 0;
}

.adhead {
	text-align:center;
	padding:2%;
	background-color: #DFFFD8;
}

.tbox {
	border: solid 2px black;
	border-radius:7%;
	padding:2px;
	
}

.form{
	margin-left:30%;
	margin-right:30%;
	text-align:center;
	border:2px solid black;
	box-shadow:0px 8px 0px 8px #888888;
	border-radius:2%;
	margin-bottom:10%;
	background-color:#B4E4FF;
	
}

.btn {
	margin:2%;
	margin-left:6%;
	magin-up:10%;
	
}